@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using System.Threading.Tasks
@using PaxSender
@using Radzen.Blazor
@inherits ComponentBase
@inject AppStateService AppState


@if(isLoading)
{

  <LoadingScreen></LoadingScreen>

    

}
else
{   

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
    
}


@code
{
     bool isLoading = true;

    private void NavigateToIndex(){
        NavigationManager.NavigateTo("/");
    }
    protected override async Task OnInitializedAsync()
    {
        // Simula un tiempo de carga de 3 segundos
        await Task.Delay(5000);

        isLoading = false; // Desactivar el loading screen después de 3 segundos

    }
    
}