@page "/R_Envio"
@page "/R_Envio/{EnvioId:int}"

@inject PedidoBLL pedidoBLL
@inject ArticuloBLL articulos
@inject ClienteBLL ClienteBLL
@inject EnvioBLL EnvioBLL
@inject SucursalBLL SucursalBLL
@inject SuplidorBLL SuplidorBLL
@inject DialogService DialogService
@inject IJSRuntime IJS
@inject NotificationService notificationService

<PageTitle>Registro de pedidos .</PageTitle>

<head>
    <style>
        .hidden{
            display: none;
        }

        .form-select{
            border: none;
            width: 150px;
        }
        .form-floating {
            width: 15%;
        }
            .Entrada{
        display: flex;
        padding: 5px;
        align-items: center;
        
    }
    .Entrada input{
        background-color:#D9D9D9;
        width: 100%;
    }
    .Entrada label
    {
        margin: 5px;
    }
    .Entrada textarea{
        background-color:#D9D9D9;
        border-color: #D9D9D9;
        border-radius: 15px;
        width: 100%;
    }

    </style>
</head>

<body>
       <RadzenCard class="rz-shadow-7 rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12">
    <RadzenFieldset>
            <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon Icon="feed" class="me-1" /><b>Realizar servicio de envios</b>
            </span>
        </HeaderTemplate>
        <ChildContent>

        <RadzenStack>
            
                
            <div  class="d-flex justify-content-between">
                <div class="Entrada">
                    <div class="input-group">
                        <RadzenNumeric ShowUpDown="false" style=" background-color: #D9D9D9; border-color: #D9D9D9;" @bind-Value="envio.EnvioId"/>
                        <RadzenButton style="background-color: #FBCB6E;" ButtonStyle="ButtonStyle.Secondary" Click="Buscar"><RadzenIcon Icon="search"/></RadzenButton>
                    </div>
                </div>
                    
                <br>
                <div>
                    <div class="Entrada ">
                        <div class="input-group ">
                            <RadzenLabel >Fecha:</RadzenLabel>
                            <RadzenDatePicker @bind-Value=@envio.Fecha ShowTime="true" HourFormat="12" DateFormat="MM/dd/yyyy" Name="Fecha" />
                            <RadzenRequiredValidator Component="Fecha" Text="Nombre es Campo Requerido" Popup=true Style="position: absolute"/>
                        </div>
                    </div>
                </div>

            </div>
            <div class = "row">
                 <div class="col-3">
                            <input type="text" @bind="envio.Destino" required placeholder="Destino" class="form-control" />
                        </div>
                <div class="col-3">
                            <input type="text" @bind="envio.Destinatario_Referencia" required placeholder="Referencia Destinatario" class="form-control" />
                        </div>
                
                <div class="Entrada col-3">
                <RadzenDropDown  AllowClear="true" TValue="int" Name="Succursal"
                             FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true"
                             class="w-100" Placeholder="Sucursal"  Data="SucursalBLL.GetList(o => true)" TextProperty="Nombre"
                             @bind-Value=@envio.SucursalId ValueProperty="SucursalId" style="border-radius: 25px; background-color: #D9D9D9; border-color: #D9D9D9; border: 15px; margin: 3px; height:40px"
                             />
                </div>
                <div class="Entrada col-3">
                <RadzenDropDown  AllowClear="true" TValue="int" Name="Cliente"
                             FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true"
                             class="w-100" Placeholder="Cliente"  Data="ClienteBLL.GetList(o => true)" TextProperty="Nombre"
                             @bind-Value=@envio.ClienteId ValueProperty="ClienteId" style="border-radius: 25px; background-color: #D9D9D9; border-color: #D9D9D9; border: 15px; margin: 3px; height:40px"
                             />
                </div>
                
            </div>
            
            <div class="row">
                <div  class="Entrada col-2">
                 <RadzenDropDown  AllowClear="true" TValue="int" Name="Articulo"
                             FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true"
                             class="w-100" Placeholder="Articulo"  Data="articulos.GetList(o => o.ArticuloId == 1)" TextProperty="Descripcion"
                             @bind-Value=@detalle.ArticuloId ValueProperty="ArticuloId" style="border-radius: 25px; background-color: #D9D9D9; border-color: #D9D9D9; border: 15px; margin: 3px; height:40px"
                             />
                </div>
                <div class="Entrada col-2">
                    <RadzenNumeric  ShowUpDown="false" style=" background-color: #D9D9D9; border-color: #D9D9D9;" Placeholder="Peso del paquete/LB" @bind-Value="detalle.Peso"></RadzenNumeric>
                </div>
                
                
                <div class="Entrada col-3">
                <select Placeholder="Etiqueta" style=" background-color: #D9D9D9; border-color: #D9D9D9;" class ="form-select"id="EstadoEnvio" name="EstadoEnvio" @bind="detalle.Etiqueta">
                    @foreach (var item in  Estados  )
                    {
                        <option value="@item"> @item</option>
                    }

                </select>
            </div>
            
            <div class="Entrada col-2">
                    <RadzenNumeric Disabled="true" ShowUpDown="false" style=" background-color: #D9D9D9; border-color: #D9D9D9;" Placeholder="Precio del envio" @bind-Value="envio.Total_Envio"></RadzenNumeric>
            </div>
                <div class="Entrada col-2">
                    <RadzenNumeric  ShowUpDown="false" style=" background-color: #D9D9D9; border-color: #D9D9D9;" @bind-Value="detalle.Cantidad"></RadzenNumeric>
                    <RadzenButton style="background-color: #FBCB6E;"ButtonStyle="ButtonStyle.Secondary" Click="AgregarDetalle"><RadzenIcon Icon="playlist_add"/></RadzenButton>
                </div>
                <div class="d-flex justify-content-between">
                    <p></p>
                </div>
            </div>


        </RadzenStack>
        <RadzenFieldset>
        <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon Icon="feed" class="me-1" /><b>Detalles</b>
            </span>
        </HeaderTemplate>

        <ChildContent> 
            <table class="table table-striped" style="backgroud-color:white">
                <thead>
                    <tr>
                        <th scope="col">#ArticuloId</th>
                        <th scope="col">Articulo</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Peso/LB</th>
                        <th scope="col">Condición</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    
                        @foreach(var item in this.envio.DetalleEnvio)
                        {
                            <tr>
                            <td>@item.ArticuloId</td>
                            <td>@articulos.Buscar(item.ArticuloId).Descripcion</td>
                            <td>@item.Precio</td>
                            <td>@item.Cantidad</td>
                            <td>@item.Precio</td>
                            <td>@item.Peso</td>
                            <td>@item.Etiqueta</td>

                            <td><RadzenButton ButtonStyle="ButtonStyle.Danger" Click="()=>EliminarDetalle(item.DetalleId)" Icon="delete" /></td>
                            </tr>
                        }
                
                </tbody>
            </table>
            </ChildContent> 
            </RadzenFieldset>

            <div  class="d-flex justify-content-between">
                <div class="Entrada" style="display:flex; justify-items:center;">
                    <div class="input-group">
                        <RadzenLabel For="Items">Total de items:</RadzenLabel>
                        <RadzenNumeric Disabled="true" ShowUpDown="false" @bind-Value="CantidadTotal" Name="Items" />
                    </div>
                </div>
                <div class="Entrada">
                    <div class="input-group">
                        <RadzenLabel For="Importe">Importe Total:</RadzenLabel>
                        <RadzenNumeric Disabled="true" ShowUpDown="false" @bind-Value="PesoTotal" Name="Importe" />
                    </div>
                </div>
            </div>

        <RadzenStack>
            <center>
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="save" Text="Guardar"  Click="Guardar" />
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="refresh" Text="Nuevo"  Click="Nuevo" />
                 <RadzenButton ButtonStyle="ButtonStyle.Danger"  Icon="delete" Text="Eliminar"  Click="ShowInlineDialogDelete"/>
             </center>
        </RadzenStack>


         </ChildContent>
    </RadzenFieldset>
    </RadzenCard>   
    
    
</body>


@code
{
    [Parameter]
    public int EnvioId {get; set;}
    public int CompraRec {get;set;} = 0;

    public Envio envio {get; set;} = new Envio();

    public EnvioDetalle detalle {get; set;} = new EnvioDetalle();

    public List<Articulo> L_Articulos {get; set;} = new List<Articulo>();
    

    public IEnumerable<int> Cantidades{get;set;} 
    public int? CantidadTotal {get;set;}

    public List<Suplidor> L_Suplidores {get; set;} = new List<Suplidor>();

    public List<Sucursal> L_Sucursal {get; set;} = new List<Sucursal>();

    

    public IEnumerable<double?> Peso{get;set;} 
    public double? PesoTotal {get;set;}
        List<CONDICION> Estados = Enum.GetValues(typeof(CONDICION))
        .Cast<CONDICION>()
        .ToList();

    
    protected override void OnInitialized()
    {
        L_Articulos = articulos.GetList(o => o.ArticuloId == 1);
        L_Suplidores = SuplidorBLL.GetList(o => true);
        L_Sucursal = SucursalBLL.GetList(o => true);

        if(EnvioId > 0)
        {
            this.envio.EnvioId = EnvioId;
            Buscar();
            CalcTotales();
        }
        if(EnvioId==-1)
        {
            foreach(var articulo in articulos.GetListReorden())
            {
                detalle.ArticuloId =articulo.ArticuloId;
                detalle.Cantidad = articulo.Num_Reorden;
                AgregarDetalle();
            }
            CalcTotales();
                
        }
    
        CalcTotales();
    }

    void Buscar()
    {
        var envioEncontrado = EnvioBLL.Buscar(envio.EnvioId);
        

        if(envioEncontrado != null)
        {
            this.envio = envioEncontrado;
            CalcTotales();
        }
    }
    void CalcTotales()
    {
        Cantidades= from detalle in envio.DetalleEnvio select detalle.Cantidad;
        CantidadTotal = Cantidades.Sum();

        Peso= from detalle in envio.DetalleEnvio select detalle.Peso_Total;
        PesoTotal = Peso.Sum();
    }

    void ClacPrecioEnvio()
    {

    }
    /*
        public async Task Imprimir()
        {
            await IJS.InvokeAsync<object>("open", new object[] { $"/I_OrdenCompra/{CompraRec }","_blank"});
        }

    */
    
    void AgregarDetalle()
    {
         
        if(this.detalle.ArticuloId != null && this.detalle.Cantidad > 0)
        {
            double costoA = articulos.Buscar(this.detalle.ArticuloId).Costo;
            this.detalle.Precio= costoA;
            this.envio.DetalleEnvio.Add(this.detalle);
            this.detalle = new EnvioDetalle();
            foreach(var item in this.envio.DetalleEnvio)
            {
                this.envio.Total += item.Peso;
            }
            
            CalcTotales();
            envio.Total_Envio = 295.00 * PesoTotal;
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Registro Actualizado", Detail = "Detalle añadido con exito!", Duration = 4000 });
        }
        else
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error al agregar detalle", Detail = "Campo de detalle vacio", Duration = 4000 });
        }
        
    }

    public void EliminarDetalle(int DetalleId)
    {
        this.envio.DetalleEnvio.RemoveAll(d => d.DetalleId == DetalleId);
        foreach(var item in this.envio.DetalleEnvio)
        {
            this.envio.Total += item.Peso;
        }
        CalcTotales();

        
    }

    void Nuevo()
    {
        this.envio= new Envio();
        PesoTotal = 0;
        CantidadTotal = 0;
    }

    void Eliminar()
    {
        if(Validar() && envio.EnvioId>0 && this.envio.DetalleEnvio != null  && PesoTotal > 0)
        {
            EnvioBLL.Eliminar(this.envio);
            Nuevo();
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Registro Actualizado", Detail = "Borrado con exito", Duration = 4000 });
        }
        else
        {
            Console.WriteLine("No se ha borrado nada");
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "No se ha borrado nada", Detail="Errores al borrar la compra, falta algun dato",Duration = 4000 });
        }
    }

    async Task Factura()
    {
        string nombre = SucursalBLL.Buscar(envio.SucursalId).Nombre;
        string cliente = ClienteBLL.Buscar(envio.ClienteId).Nombre;
        await EnvioPrint.ImprimirFacturaAsync(envio, nombre, cliente);
        ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Registro Actualizado", Detail = "Guardado con Exito", Duration = 4000 });
    }

    void Guardar()
    {
        ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Imprimiendo factura", Detail = "Espere el recibo", Duration = 20000 });
        if(Validar() && this.detalle != null && PesoTotal > 0)
        {
            EnvioBLL.Guardar(this.envio);
            CompraRec = envio.EnvioId;
            Factura();
            this.Nuevo();
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Registro Actualizado", Detail = "Guardado con Exito", Duration = 2000 });
            //ShowInlineDialogPrint();
        }
        else
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "No se ha guardado nada", Detail = "Porfavor complete los campos de este formulario", Duration = 4000 });
        }
    }

    bool Validar()
    {
        return this.detalle != null;
    }


    void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }


    async Task ShowInlineDialogDelete()
    {
        var result = await DialogService.OpenAsync("Confirmacion de accion", ds =>
        @<div>
            <div class="row">
                <div class="Entrada col">
                <h4>Esta seguro que desea eliminar este registro?</h4>
                <br>
                <hr>
                    <center>
                    <a href="/"><RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="Eliminar"  ><RadzenIcon Icon="delete"/>"SI (Eliminar)"</RadzenButton></a>
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Click="() => ds.Close(false)"  ><RadzenIcon Icon="cancel"/>"NO"</RadzenButton>
                    </center>
                </div>
            </div>
        </div>);
    }


    /*
    async Task ShowInlineDialogPrint()
    {
        var result = await DialogService.OpenAsync("Confirmacion de accion", ds =>
        @<div>
            <div class="row">
                <div class="Entrada col">
                <h4>Desea imprimir este registro?</h4>
                <br>
                    <center>
                    <a href="/"><RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="Imprimir"   ><RadzenIcon Icon="print"/>"SI()"</RadzenButton></a>
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Click="() => ds.Close(false)"  ><RadzenIcon Icon="cancel"/>"NO"</RadzenButton>
                    </center>
                </div>
            </div>
        </div>);
    }
 
    */
    



}